<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base :: layout(~{::section}, 'Profile')">
<head>
<meta charset="UTF-8">
<title>User Profile</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<style>
</style>
</head>
<body>

	<section>
		<div class="container profile-card">
			<div class="card text-center mx-auto" style="max-width: 650px;">
				<div class="card-body">
					<!-- Profile Image -->
					
					<!-- Profile Image Upload -->
					<form id="imageUploadForm" th:action="@{/user/update-profile-pic}"
						method="post" enctype="multipart/form-data">
						<input type="file" id="imageInput" name="profileImage"
							style="display: none;"
							onchange="document.getElementById('imageUploadForm').submit()" />
						<label for="imageInput" style="cursor: pointer;"> <img
							th:src="@{'/image/' + ${user.imageUrl}}" alt="Profile Image"
							class="profile-img mb-3"
							style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 2px solid #ddd;" />
						</label>
					</form>


					<!-- User Name -->
					<h4 th:text="${user.name}" class="mb-4"></h4>

					<!-- User Details -->

					<div class="info-row">
						<span class="info-label">Email</span> <span class="info-value"
							th:text="${user.email}">test@gmail.com</span>
					</div>
					<div class="info-row">
						<span class="info-label">Status</span> <span class="info-value"
							th:text="${user.enabled?'Acitve':'In Active'}"></span>
					</div>
					<div class="info-row">
						<span class="info-label">Role</span> <span class="info-value"
							th:text="${user.role}">Developer</span>
					</div>

					<!-- About -->
					<div class="info-row ">
						<span class="info-label">About</span> <strong><span
							class="info-value" th:text="${user.about}">I am a Java
								programmer</span></strong>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
